p{
    color:black
}

.BackgroundFAQTemplate{
}

.topContentBuilderBar{
    display: flex;
    flex-direction: row;
    width:87%;
    padding:0.5%
}

.topContentBuilderRightBar{
    margin-left: auto;
}