.previewPage{
    padding-top: 3%;
    padding-bottom:  3%;
    padding-left: 8%;
    padding-right: 8%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.dispayContentBackground{
    background-color: rgb(24, 74, 117);
}

.displayToolsBar{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-width:100%;
    margin-bottom:2%;
    margin-top:2%
}
.displayLeftButton{
    margin-left: 4%;
    min-width:10%;
    max-width:10%
}
.displayRightButton{
    margin-left: 4%;
    min-width:10%;
    max-width:10%
}