.bx--modal-container{
    color:black
}
.Overlay{
    color:black
}

.bx--modal-header__label{
    color:black;
    fill: black;
}
.bx--modal-header__heading	.text{
    color:black;
}
.bx--label	.text	{
    color:black;
    fill: black;
}
.bx--modal-content{
    color:black
}
