.headingTemplate{
    display:flex;
    flex-direction: column;
    padding-bottom:6vh
}

.BackgroundDisplayTemplate{
    background-color: #121619;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white
}

.BackgroundFAQTemplate{
    background-color: #121619;
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white
}

.BackgroundCategoryTemplate{
    background-color: #121619;
    display: flex;
    min-height: 60vh;
    flex-direction: column;
    align-items: center;
    padding:3%;
    color:white
}




.bx--accordion__title{
    color:white
}

.bx--accordion__content{
    color:white;
    background:lightblue
}
.bx--accordion__heading:hover{
    background:lightblue;
    color:white;

}

.bx--accordion__title:focus{
    border:lightblue;
     color:white;
     background:lightblue;


}
.bx--accordion__arrow{
    fill:lightblue;
    color:lightblue;

}
.bx--accordion__title:disabled{
    background:lightblue
}

.panel-default > .panel-heading {
    background-color:lightblue;
}


.plate{
    max-width: 100vh;
    min-width: 100vh;
    font-size: 6vh;
}

.FAQQuestion{
    font-size: 2.4vh;
    color:white;
}

.FAQAnswer{
    font-size: 2vh;
}



.blackText{
    color:black;
}

.upperBanner{
    min-height:40vh;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #003a6d;
}
.downBanner{
    min-height:70vh;
    color:white;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding:10vh;
    
}
.banner{
    min-width:100%;
    opacity:0.7;
    
}
.features{
    display:flex;
    flex-direction: row;
    color:white;
    justify-content: center;
    align-items: center;
    min-width:70%;
    padding:7%;
   

}
.featureSection{
    min-width:26%;
    min-height:20vh;
    margin-right: 4%;
    color:black;
    display:flex;
    flex-direction: column;
}
.featureSectionWithoutMargin{
    min-width:26%;
    min-height:20vh;
    margin-right: 4%;
    color:black;
    display:flex;
    flex-direction: column;
}


.CenterFixedHeadingSection{
    min-width:100%;
    display:flex;
    background-color: lightblue;
    text-align:center;
    justify-content: center;
    align-items: center;
    min-height:30vh;
}


h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: overline;

}

h2{
    margin-bottom: 6vh;
}

.featureInsideTile{
    padding:1.5vh
}

.featureTitle{
    font-size: 3vh;
    margin-bottom: 1vh;
}
.featureDescription{
    font-size: 2vh;
    margin-bottom: 0.8vh;

}
.featureButton{

}

.profileTemplate{
    min-width:50%;
    max-width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2vh;
}

.ProfileTile{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
}
.CopyTextSection{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.CopyTextSection div{
    margin-right: 4vh;
}
.CopyTextSection p{
    font-size: 2vh;
    margin-bottom:1.1vh;
}
.smallSectionBox{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profileUploadBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4%;
}

.profileImage{
    max-width: 40vh;
    min-width: 40vh;
    max-height: 40vh;
    min-height: 40vh;
    border-radius: 50%;
}

.PendingTableText{
    font-size: 2vh;
    color: white
}

.termsTemplate{
    display:flex;
    min-width: 70%;
    max-width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.termsP{
    font-size: 2.7vh;
    color:white
}

.templateIconStyle{
    max-height: 50vh;
    min-width: 30vh;
    margin:0;
  
}

.StructuredListRow{
    max-width:50vh;
    overflow-wrap: break-word;
}