.App {
  background-color: #121619;
  min-width:100vh;
  max-width:100vh;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (max-width: 800px) {
  #featureSection {
    min-width: 100%;
    margin-top:3%
  }
  #features{
    display: flex;
    flex-direction: column;
  }
  #landingVideo{
    width:80%
  }
  #menuDisplayTemplate{
    display:flex;
    flex-direction: column;
  }
  #menuTile{
    min-width:80%;
    max-width: 80%;
    margin-right: 0;
    margin-top: 4%;
  }
  #menuDisplayTemplate{
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  #contactColumn{
    display:none
  }
  #CenterFixedHeadingSection{
    font-size: 6vh;
    min-height:30vh;
  }
  #settingProfileTile{
    min-width:80vh
  }
  #CopyTextSection{
    flex-direction: column;

  }
  #profileLogoutButton{
    margin-top: 14%;
  }
  #profileEmailSnippet{
    margin-top: 14%;
  }
  #profileEmailText{
    display:none
  }
  #selectLevelBar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items:center;
    margin-bottom: 5%;
    position:relative;
    left:0%;
  }
  #initBlogButton{
    margin-left:0
  }
  #blogsTable{
    display:flex;
    flex-direction: column;
    width:90%;
  }
  #previewPage{
    min-width: none;
    max-width: none;
    width:95%;
    padding-top: 0%;
    padding-bottom:  0%;
    padding-left: 0%;
    padding-right: 0%;
  }
  #blogInfoSection{
    max-width: none;
    min-width: none;
    margin-top: 5%;
    padding:4%;
    color:black;
    margin-left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    align-items: center;
  }
  #blogInfoUsername{
    font-size: 3vh;
    margin-left: 2%;
  }
  #BackgroundVerticalWidthLimit80Template{
    max-width: 80%;
  }
  #developerImage{
    max-width: 70%;
  }
  #joinBackgroundTemplate{
    padding:6%
  }
}

html,body{
  overflow-x: hidden;
}